html {
  overflow-x: hidden;
}

#myCarousel .carousel-img {
    width: 100%;
    height: 600px;
    max-height: 600px;
}

.pictureCard {
  margin: 30px;
  transition: 0.3s;
}

.card:hover {
  border-color: #007bff;
  transform: scale(1.05);
}

.house {
  position: relative; 
  left: 20px; 
  top: 20px;
  color: #212529;
  transition: 0.3s;
}

.house:hover {
    color: #007bff;
}

.postPictures {
  max-height: 350px;
  overflow: hidden;
}