<div class="row justify-content-center">
    <div class="pictureCard card" id="example" style="width: 18rem;">
        <img src="/pictures/cutehamster.gif" class="card-img-top" onerror="this.onerror=null; this.src='/pictures/image-not-found.png'">
        <div class="card-body">
          <h5 class="card-title">This is an example post</h5>
          <p class="card-text">Type in the fields below to change the information here!</p>
        </div>
      </div>
</div>
<div class="form-group" style="text-align: center;">
    
    <div class="row">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" maxlength="100" required>
    </div>

    <div class="row">
        <label for="url">Image URL</label>
        <svg xmlns="http://www.w3.org/2000/svg" style="position: relative; left:5px; top: 4px;" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
        </svg>
        <div class="box2 hide sb11">Use a direct image link such as: 
        <a href="https://i.imgur.com/cHexWHi.gif">https://i.imgur.com/cHexWHi.gif</a> | <a href="/pages/posting-direct-image-links.html" class="text-danger">Still not working?</a></div>
        <input type="text" name="url" id="url" class="form-control" required>
    </div>

    <div class="row">
        <label for="content">Description</label>
        <textarea  type="text" name="content" id="content" class="form-control" maxlength="1000" style="height:180px;"></textarea>
    </div>
</div>
<button type='submit' class="btn btn-primary" style="position: relative; right: 15px;">Submit!</button>

<script>
    // a bit of cheating so I don't need to make the css real nasty
    $("svg").mouseleave(() => {
        $(".hide").removeClass("hide");
    })

    $("#postForm").change(function() {
        $(".card-title").text($("#title").val())
        $("img").attr("src", $("#url").val())
        $(".card-text").text($("#content").val())
    });
</script>