<!DOCTYPE html>
<html lang="en">
    <style>
        #myCarousel .carousel-img {
          width: 100%;
          height: 600px;
          max-height: 600px;
        }

        .pictureCard {
          margin: 30px;
          transition: 0.3s;
        }

        .card:hover {
          border-color: #007bff;
          transform: scale(1.05);
        }
    </style>
<head>
    <link rel="icon" href="/icon.gif" type="image/gif">
    <title>Nate is a cool dude!</title>

    <!-- BS CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">    
</head>
<body>
    <div style="text-align: center;">      
      <h1>Nate Is a Cool Dude:</h1>
      <h2>A site dedicated to nateposting</h2>
      <a href="posts/new" class="btn btn-primary" style="margin-top: 10px;">Start Nateposting!</a>
    <hr style="margin-bottom: 10px">
    </div>
    
    <div class="row justify-content-center">
    <% posts.forEach(post => { %>
        <div class="card pictureCard" style="width: 18rem;">
            <img src="<%= post.url %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=post.title%></h5>
              <p class="card-text"><%=post.content %></p>
            </div>
          </div>
    <% }); %>
    </div>
    
    <hr>
    <h1 style="text-align: center;">
      That is all...
    </h1>
    <h2 style="text-align: center;">
      Goodbye!
    <h2>

    <!-- BS JavaScript Bundle with Popper (and jquery) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script></body>
</html>